/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Generic styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic font color*/
    color:rgb(71, 67, 67);
    font-family: "Lato", sans-serif;

}
/* header*/
header {
    background-color: #ffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 2px rgb(71, 67, 67);   
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Raleway, sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(49, 44, 44);
    text-align: center;
}
#links{
    font-size: 105%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    margin-bottom: .25rem;
    
    
    
}
#link1{
    margin-right: 10px;
}
#link2{
    margin-right: 10px;
}
#link3{
   
}

.active{
    border-top: 1px solid rgb(71, 67, 67);
    border-bottom: 1px solid rgb(71, 67, 67);;
}



main {
    background-color: beige;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 99px;

}

/*Footer*/
#social-links{
    text-align: center;
    padding: 20px ;
    display: flex;
    justify-content: center;
   justify-content: space-evenly;
    
   
    list-style-type: none;
}

#social-links i {
    font-size: 160%;
    padding: 5%;
    color: rgb(71, 67, 67); 
}

/* Media query: tablets and larger >= 768px*/
@media screen and (min-width: 768px) {
div{
    display: block;
    position: center;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    text-align: center;
}

#business-name{
    font-size: 280%;
    line-height: 75px;
}
main{
   /*Push main content down due to header increase*/ 
   margin-top: 108px;
}
#links{
    font-size: 150%;
}

}

/* Media query: laptops and desktops >= 992px*/
@media screen and (min-width: 992px){
    #links a:hover {
        border-bottom: 1px solid rgb(71, 67, 67);
    }
    

}