/*Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic font color*/
    color: rgb(70, 97, 36);
    font-family: "Lato", sans-serif;

}

/* header*/
header {
    background-color: #ffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 2px rgb(71, 67, 67);

    height: 450px;
    width: 100%;
    background: url("../images/main-image.webp") no-repeat center center/cover;
}


header a {
    text-decoration: none;
    color: inherit;
}


#header {
    font-family: 'Raleway, sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(70, 97, 36);
    text-align: center;
}

#links {
    font-size: 105%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    margin-bottom: .25rem;
    padding-left: 20px;
    



}

#link1 {
    margin-right: 10px;
    
}

#link2 {
    margin-right: 10px;
} 

#link3 {
    
}

.active {
    border-top: 1px solid rgb(71, 67, 67);
    border-bottom: 1px solid rgb(71, 67, 67);
}

#sub-image{
    margin-left: 10px;
}

#main-image-text {
    background-color: rgba(70,
        97,
        36,
        .7);
    font-size: 100%;
    position: absolute;
    
    bottom: 10px;
    width: 80%;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    color: #ffff;
    text-align: center;
    
    
}

#main-image-text h3 {
    padding: 10px 10px;

}

main {

    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 450px;
}

/*Sales-area. Using flexbox to make divs for index page*/





#sales-area{
    /*display:flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;*/
    background-color: rgb(70,
        97,
        36);
}
#inner-sales-area{
    width: 0 auto;
    display: flex;
}

#sales-area-image {
        /*width: auto;*/
        display: flex;
        background: url("../images/heart-of-ireland.webp") no-repeat center center/cover;
        height: 250px;
        width: 250px;
        /*border-radius: 50%;*/
        /*align-items: center;
        justify-content: center;*/
        /*margin-left: 15px;*/
    
   
}
#inner-sales {
    background-color: rgb(70, 97, 36, .7);
    text-align: center;
    width: 100%;
    

}
#inner-sales h3 {
    color: #ffff;
    font-size: 130%;
    padding-top: 0px;
    padding-bottom: 10px;

}

#inner-sales p{
    color:#ffff
}

#advantages1{
    padding: 10px 5px 10px 5px;
    
    
}

#advantages2{
padding: 10px 5px 10px 5px;
}

/*Main area for tours page for phone screens*/

#overall-tour h2, p{
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    

}
#overall-tour p{
    padding-bottom:20px;
    padding-top:20px;
}

#overall-tour div{
    background-color: rgb(70,97,36, .7);
}


    
    

#tour1-image1{
    background: url('../images/belvadere-house.jfif') no-repeat center center/cover;
    max-width: 300px;
    max-height: 300px;
    height: 250px;
    width: 280px;
    border-radius: 20%;
    border: 5px solid rgb(71, 67, 67)
    

}




#tour2-image1 {
    background: url('../images/birr-castle.jpg') no-repeat center center/cover;
    max-width: 300px;
    max-height: 300px;
    height: 250px;
    width: 280px;
    border-radius: 20%;
    border: 5px solid rgb(71, 67, 67);
    
}
#tour3-image1 {
    background: url('../images/goddess-uisneach.webp') no-repeat center center/cover;
    max-width: 300px;
    max-height: 300px;
    height: 250px;
    width: 280px;
    border-radius: 20%;
    border: 5px solid rgb(71, 67, 67);
    

}
#tour4-image1 {
    background: url('../images/lough-boora.jpg') no-repeat center center/cover;
    max-width: 300px;
    max-height: 300px;
    height: 250px;
    width: 280px;
    border-radius: 20%;
    border: 5px solid rgb(71, 67, 67)
    

}










/*Footer*/
#social-links {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;


    list-style-type: none;
}

#social-links i {
    font-size: 160%;
    padding: 5%;
    color: rgb(71, 67, 67);
}

#overall-control p{
    border-bottom: 10px;
}



/* Media query: tablets and larger >= 768px*/
@media screen and (min-width: 767px) {
    /*div {
        display: block;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        text-align: center;
        
    }*/

    #main-image-text {
        width: 250px;
        right: 50px;
    }

    #business-name {
        font-size: 280%;
        line-height: 75px;
    }

    main {
        /*Push main content down due to header increase*/
        margin-top: 450px;
    }

    #links {
        font-size: 150%;
    }
    #sales-area{
        font-size: 150%;
        
    }
    #inner-sales{
        display: inline-flex;
        

    }
    #advantages1 {
        width: 33%;
    }
    
       

   
    #advantages2{
        width: 250px;
    }

    #sales-area-image {
    width: 270;
    
    margin-top: 20px;
    }

    /* Tour page for screens greater than 600px*/

    #tour1-images{
        display: flex;
       justify-content: space-evenly;

    }

    #tour1-image2{
        background: url('../images/get-in-touch-tower-belvedere.jpg') no-repeat center center/cover;
            max-width: 300px;
            max-height: 300px;
            height: 250px;
            width: 280px;
            border-radius: 20%;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 5px solid rgb(71, 67, 67)

    }

    #tour1-image1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

        #tour2-images {
            display: flex;
            justify-content: space-evenly;
    
        }

        #tour2-image1{
            margin-top: 10px;
                margin-bottom: 10px;
        }

    #tour2-image2{
    background: url('../images/birrcastle-terraces.jpg') no-repeat center center/cover;
        max-width: 300px;
        max-height: 300px;
        height: 250px;
        width: 280px;
        border-radius: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 5px solid rgb(71, 67, 67)
    }

        #tour3-images {
            display: flex;
            justify-content: space-evenly;
    
        }
    
        #tour3-image1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        #tour3-image2 {
            background: url('../images/Home-Bealtaine-Fire.jpg') no-repeat center center/cover;
            max-width: 300px;
            max-height: 300px;
            height: 250px;
            width: 280px;
            border-radius: 20%;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 5px solid rgb(71, 67, 67);
        }

                #tour4-images {
                    display: flex;
                    justify-content: space-evenly;
        
                }
        
                #tour4-image1 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
        
                #tour4-image2 {
                    background: url('../images/sculpture_60degrees-loughboora.jpg') no-repeat center center/cover;
                    max-width: 300px;
                    max-height: 300px;
                    height: 250px;
                    width: 280px;
                    border-radius: 20%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: 5px solid rgb(71, 67, 67);
                }

}

    

/* Media query: laptops and desktops >= 992px*/
@media screen and (min-width: 992px) {
    #links a:hover {
        border-bottom: 1px solid rgb(71, 67, 67);
    }


    #inner-sales{
        max-width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

    }
     #advantages1 {
        width: 33%;

    }

    #sales-area-image {
        align-items: center;
        width: 400px;
        height: 400px;
        margin-bottom: 20px;
        border-radius: 10%;

       
    }
    #advantages2 {
        width: 33%;
    }

        #tour-images {
            display: flex;
            justify-content: space-evenly;
    
        }
    
        #tour3-image1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
        #tour1-image3 {
            background: url('../images/become-a-member-bellgate-768x818-belvedere.jpg') no-repeat center center/cover;
            max-width: 300px;
            max-height: 300px;
            height: 250px;
            width: 280px;
            border-radius: 20%;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 5px solid rgb(71, 67, 67)
        }

                 #tour2-images {
                     display: flex;
                     justify-content: space-evenly;
        
                 }
        
                 #tour2-image3 {
                     margin-top: 10px;
                     margin-bottom: 10px;
                 }
        
                 #tour2-image3 {
                     background: url('../images/birr-telescope.jpg') no-repeat center center/cover;
                     max-width: 300px;
                     max-height: 300px;
                     height: 250px;
                     width: 280px;
                     border-radius: 20%;
                     margin-top: 10px;
                     margin-bottom: 10px;
                     border: 5px solid rgb(71, 67, 67)
                 }

                #tour4-images {
                    display: flex;
                    justify-content: space-evenly;
        
                }
        
                #tour4-image3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
        
                #tour4-image3 {
                    background: url('../images/nature_dragonfly.jpg') no-repeat center center/cover;
                    max-width: 300px;
                    max-height: 300px;
                    height: 250px;
                    width: 280px;
                    border-radius: 20%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: 5px solid rgb(71, 67, 67)
                }
   

}

